.app {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  display: grid;
  display: grid;
  place-items: center;
}
.wrapper {
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
  min-width: 300px;
  text-align: center;
}
input {
  width: 200px;
  height: 40px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  margin: 0 0 50px 0;
  -webkit-appearance: none;
}
@media (min-width: 768px) {
  .wrapper {
    min-width: 500px;
    padding: 100px;
  }
}
