.app {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  display: grid;
  display: grid;
  place-items: center;
}
.wrapper {
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
  min-width: 300px;
}
@media (min-width: 768px) {
  .wrapper {
    min-width: 500px;
    padding: 100px;
  }
}
